	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ .Site.BaseURL }}">

				<img src="{{ .Site.Params.Icon }}" width="30" height="30" alt="">
				THC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav justify-content-end">
					{{ range .Site.Menus.header }}
					{{ $name := lower .Name }}
					<li class="nav-item"> 
						<a class="nav-link" href="{{ .URL }}">{{ lower .Name }}</a>
					</li>
					{{end}}

				</ul>
			</div>
		</div>
	</nav>
