<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

	</head>
	<body>
		{{ partial "header.html" . }}
		<div class="container-fluid">
			<div class="row justify-content-sm-center">
				<div class="col col-sm-6 col-md-5 col-lg-5 col-xl-4 align-self-center user-description">
					<h1 class="display-4">{{ .Title }}</h1>
					<p class="lead">{{ .Description }}</p>
					<p class="date"><em>Última atualização: {{ .Lastmod }}</em></p>
					<hr class="light"></hr>
					<div class="post-content">
						{{ .Content }}
					</div>
					{{ if (isset .Params "nocomments")  }}
					{{ else }}
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
					{{ end }}
					<div class="push"></div>
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
