body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #0a2239;
  color: #80d3f2;
}

section {
  margin: 5vh 10vw;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 217, 5, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

h3,
h2,
h1,
a {
  color: #fbd905;
}

p {
  color: #80d3f2;
}

.tags {
  color: #fa8334;
}
